function Div.div 2
	push constant 0
	pop local 0 
	push argument 0
	pop local 1

label divLoop
    push local 1
	push argument 1
	lt
	if-goto divDone
	push local 0
	push constant 1
	add
	pop local 0
	push local 1
	push argument 1
	sub
	pop local 1
	goto divLoop
	
label divDone

	push local 0
	pop temp 0
	push local 1
	pop temp 1
	return